.dish-name-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.description {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  width: 80%;
  color: rgb(181, 181, 181);
  color: rgb(225, 225, 225);
}

.meal-info-container {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 580px) {
  .dish-name {
    font-size: 1.1rem;
  }

  .description {
    font-size: 0.8rem;
  }
}
